/*  LEFT SECTION  */

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-section h2 {
  font-family: "Stratos";
  font-size: 28px;
  line-height: 36px;
  color: #2e3333;
  margin-top: 50px;
  margin-bottom: 20px;
}

.menus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
