/* RESTAURANT */

.restaurant-description {
  width: 90%;
  margin: auto;
  padding-top: 30px;
  max-width: 1150px;
  margin-bottom: 30px;
  display: flex;
  position: relative;
}

.more-information {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.more-information svg {
  color: #828585;
  font-size: 24px;
}

.more-information > div p {
  margin-left: 15px;
}

.more-information > div p:first-child {
  font-size: 16px;
  line-height: 22px;
  color: #2e3333;
}

.restaurant-description > div > span {
  color: #61a31f;
  display: flex;
  background-color: #fff2e4;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  margin-top: 10px;
  width: 115px;
  align-items: center;
}

.restaurant-description > div > span svg {
  margin-right: 7px;
}

.restaurant-description nav span {
  font-size: 14px;
  cursor: pointer;
}

.restaurant-description > div {
  font-size: 14px;
  line-height: 19px;
  color: #828585;
  margin-right: 5px;
}

.restaurant-description .description {
  margin-top: 8px;
  margin-right: 20px;
}

.rating {
  color: #2e3333;
  margin: 0 5px;
}

.ratings svg {
  margin-right: 2px;
}

.ratings svg {
  color: #61a31f;
}

.restaurant-description img {
  width: 369px;
}

.restaurant-description > div:first-child {
  display: flex;
  flex-direction: column;
}

.restaurant-description > div:first-child > div {
  display: flex;
  margin-bottom: 10px;
}

.restaurant-description > div:last-child div > p:nth-child(1) {
  margin-top: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #484b4b;
}

.restaurant-description > div:last-child div > p:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 15px;
}

.restaurant-description > div:last-child > div {
  display: flex;
  align-items: center;
}

.restaurant-description > div:last-child > div svg {
  margin-right: 12px;
  font-size: 22px;
}

.restaurant-description button {
  background-color: #fff;
  border: 1px solid #e8eaea;
  font-family: inherit;
  color: #aeaeae;
  padding: 10px 0;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  outline: none;
}

.restaurant-description button svg {
  color: #aeaeae;
}

.restaurant-description button svg {
  margin-right: 10px;
}

@media (max-width: 1250px) {
  .restaurant-description > div:first-child {
    flex: 3;
  }
  .restaurant-description > div:last-child {
    flex: 1;
  }
}

@media (max-width: 789px) {
  .restaurant-description > div > span {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .restaurant-description nav {
    margin-top: 10px;
  }

  .restaurant-description {
    flex-direction: column-reverse;
  }

  .restaurant-description img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  .restaurant-description > div:last-child > div,
  .restaurant-description > div:last-child > button {
    display: none;
  }
}
