.navElement {
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  border: 1px solid #e8eaea;
  padding: 9px 13px;
  margin-right: 15px;
}

.navElement svg {
  margin-right: 10px;
  color: #c6c6c6;
}

.navElement p {
  color: #2e3333;
}

/* RESPONSIVE */
